.card-plain{
    padding-left: 15px;
    padding-right: 15px;

    .card-footer{
        margin: 0 15px;
    }
    
    .card-header:after{
        width: 100%;
        left: 0;
    }

    input,button{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
    }

    
}
