.card-signup{
    max-width: 350px;
    margin: 0 auto;

    .card-header{
      margin:0 20px;
      padding: 30px 0;
    }

    .card-title{
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .card-footer {
      margin-bottom: 10px;
      margin-top: 24px;
      padding: 24px 0;
    }

    .card-body{
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: auto;
    }

    .form-check,
    .form-check.form-check-radio{
        margin-top: 20px;

        label{
            margin-left: 11px;
            color: initial;
            padding-left: 40px;
        }
    }

    .card-description{
        margin-top: 15px;
        margin-bottom: 20px;
    }

}
